<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @club.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @club.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @club.zip %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
